version: 2

multi-ecosystem-groups:
  dependencies:
    schedule:
      interval: "weekly"

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    multi-ecosystem-group: "dependencies"

  - package-ecosystem: "gradle"
    directory: "/"
    multi-ecosystem-group: "dependencies"
